
form{
    width: 80%;
    max-width: 600px;
    margin: 30px auto;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 8px rgb(27, 27, 27);
    background-color: #f5f5dc;
}
fieldset {
  border: 1px solid #004aad;
  border-radius: 6px;
  margin-bottom: 20px;
  padding: 15px;
}
legend {
  font-weight: bold;
  color: #004aad;
}
header {
    background-color: rgb(1, 1, 168);
    color: white;
    text-align: center;
    padding: 20px 10px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    border-bottom: 4px solid #e3e3e3;
}
header h2 {
    margin: 0;
    font-size: 24px;
}

header h4 {
    margin-top: 5px;
    font-weight: normal;
    font-size: 18px;
}
input, select, textarea {
    width: 96%;
    padding: 6px;
    margin: 5px 0 12px 0;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}
label{
    padding: 10px;
    font-weight:550;
    color: #333;
}
input[type="file"] {
    background-color: white;
    padding: 5px;
    border: 1px solid #ccc;
    width: 96%;
}
button {
  background-color: #004aad;
  color: white;
  border: none;
  padding: 10px 18px;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
  margin: 10px 8px;
  transition: background-color 0.3s;
}
.button-container {
  text-align: center;
  margin-top: 15px;
}

button[type="submit"],
button[type="reset"] {
  display: inline-block;
}

form button:hover {
  background-color: #003580;
}