body {
  background-color: #fdf6ff;
  font-family: Arial, sans-serif;
  text-align: center;
}

h1 {
  margin-top: 40px;
}

.container {
  position: relative; 
  width: 500px;
  height: 400px;
  margin: 40px auto; 
}


.box {
  position: absolute;
  width: 350px;
  padding: 15px;
  border: 2px solid #333;
  box-shadow: 2px 2px 6px rgba(0,0,0,0.2);
  transition: transform 0.3s;
  border-radius: 8px;

}


.box:hover {
  transform: scale(1.05);
  z-index: 10; 
}


.box1 {
  top: 40px;
  left: 40px;
  background-color: #ffb3ba;
  z-index: 3;
}

.box2 {
  top: 80px;
  left: 80px;
  background-color: #baffc9;
  z-index: 2;
}

.box3 {
  top: 120px;
  left: 120px;
  background-color: #bae1ff;
  z-index: 1;
}
